$color-bg: #2D2463;
$color-font: #ECDBBA;

body {
  height: 100vh;
  background-color: $color-bg;
}

.card-body,
.p4,
.app-container {
  background-color: $color-bg;
  color: $color-font;
  padding: 40px;
  text-align: center;
}


.movie-view {
  line-height: 1.5;
}