$color-bg: #2D2463;
$color-font: #ECDBBA;

.card-body,
.p-4,
.app-container {
  background-color: $color-bg;
  color: $color-font;
  padding: 40px;
  text-align: center;
}


.movie-view {
  line-height: 1.5;
}